* {
  font-family: "Helvetica", sans-serif;
  font-size: 15px;
  font-weight: normal;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
  color: black;
}
html,
body {
  height: 100%;
}
#root {
  height: 100%;
}
.wrapper {
  width: 800px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.main-navigator {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 15px 0;
  background: black;
}

.main-navigator > a {
  color: white;
}

.main-navigator > a.active {
  color: grey;
}

.sub-navigator {
  display: flex;
  justify-content: center;
  background-color: #f1f1f2;
  width: 100%;
  padding: 15px 0;
}

.sub-navigator > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.03);
  margin: 0 8px;
  border-radius: 50px;
  font-size: 13px;
}

.sub-navigator a:hover {
  color: #0071e3;
}

.content {
  width: 100%;
}

.content > h2 {
  font-size: 20px;
  font-weight: bold;
}

.content .content-header {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .content-header button {
  border-radius: 20px;
  background: #0071e3;
  color: white;
  border: 0;
  font-size: 12px;
  padding: 5px 12px;
}

.content .content-header button:hover {
  background: #0071e3e8;
  cursor: pointer;
}

.content .content-header h2 {
  font-size: 20px;
  font-weight: bold;
}
